/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #BF5748;
  color: #ffffff;
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Nav */
.navUl {
  margin: 10vh 0 15vh 0;
}

.navLi {
  margin: 3vh;
}

.navP {
  font-size: 2rem;
  font-weight: bold;
}

.navSpan {
  text-decoration-line: underline;
  text-decoration-color: brown;
}

/* Home */
.homeForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}

.weatherM {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  width: 50vw;
  height: 15vh;
  background-color: #FFECE4;
  font-size: x-large;
  font-weight: bolder;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
  transition-duration: 0.1s;
}

/* WeatherMain */
.btForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5vh 0 5vh 0;
}

.wmBt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 20vw;
  height: 5vh;
  background-color: #FFECE4;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
  transition-duration: 0.1s;
}

/* WeatherMain & WeatherMain2 */
.homeBt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100px;
  height: 50px;
  background-color: #BF5748;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 3px gray;
  transition-duration: 0.1s;
  color: white;
}

button:hover {
  background-color: #FC8C79;
  color: #000000;
}

button:active {
  background-color: #FC8C79;
  box-shadow: none;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10vw 5px 10vw;
  width: 600px;
  height: 8vh;
}

.spanList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: inherit;
  line-height: 160%;
  background-color: #FC8C79;
  color: #000000;
  border-radius: 10px;
  margin: 3px;
  font-weight: bold;
  text-align: center;
}

.spanData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: inherit;
  background-color: #FFECE4;
  border-radius: 10px;
  margin: 3px
}